/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.page-title {
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid #eaeaea;
}

.info {
  padding: 20px;
  text-align: center;
}

.section {
  margin: 20px;
}

.btn-center {
  text-align: center;
}

.mat-form-field {
  width: 100%;
}

.mat-btn {
  margin: 0 5px !important;
}

.red-highlight {
  color: #f44336;
}
